body {
    background: #ECECEC;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    padding: 60px 5px 0;
    max-width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
    line-height: 30px;
    font-size: 25px;
    background: none;
    display: block;
}

h4 {
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
    display: block;
}

table {
    font-weight: 300;
    background: #fff;
    padding: 0 0 2.5px 0;
    width: 100%;
    border-radius: 2px;
    font-size: 16px;
    border-spacing: 0;
}

.tableName {
    background: #333;
    padding: 20px 0;
    color: #fff;
    font-size: 20px;
    margin: 20px 0 0;
    border-radius: 2px 2px 0 0;
}

th {
    font-weight: 500;
    font-size: 14px;
    background: #69c55f;
    color: #fff;
    padding: 5px 0;
}

td {
    text-align: center;
    padding: 7.5px 0;
    font-size: 13px;
    white-space: nowrap;
    overflow-y: scroll;
}

.navbar {
    background: #69C55F;
    color: #fff;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 60px;
    z-index: 7;
    text-align: center;
}

.background {
    position: fixed;
    left: 0;
    right: 100%;
    bottom: 0;
    top: 0;
    background: none;
    z-index: 8;
    display: block;
}

.nav-menu {
    display: block;
    position: fixed;
    left: -200px;
    width: 200px;
    top: 0;
    bottom: 0;
    overflow-x: scroll;
    background: #333;
    z-index: 8;
    padding-top: 60px;
}

.nav-menu ul {
    text-decoration: none;
    width: 100%;
    margin: 0px auto;
    display: block;
    padding: 0;
}

.nav-menu ul li a {
    color: #fff;
    list-style: none;
    width: 100%;
    padding: 10px 0;
    background: #333;
    border-top: 1px solid #444;
    display: block;
    text-indent: 20px;
    font-weight: 100;
    font-size: 18px;
}

.close-menu {
    position: fixed;
    left: -200px;
    top: 0;
    border-bottom: 1px solid #69c55f;
    background: #69c55f;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 200px;
    height: 60px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    display: block;
    z-index: 8;
}

.left-icon-menu {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    float: left;
    text-align: left;
}

.left-icon-menu img {
    display: inline-block;
    height: 40px;
    width: auto;
    padding: 10px;
}

.center-name {
    display: inline-block;
    color: white;
    height: 60px;
    margin: auto;
    text-align: center;
    padding: 0;
}

.center-name a {
    font-size: 30px;
    font-weight: bolder;
    line-height: 60px;
    margin: 0;
    padding: 0;
    color: white;
    vertical-align: top;
    text-decoration: none;
}

.right-menu {
    float: right;
    width: auto;
    display: inline-block;
}

.search-right {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    text-align: right;
}

.search-right img {
    height: 40px;
    margin: 10px;
    vertical-align: top;
}

.wide-card {
    width: 95%;
    background: #fff;
    border-radius: 2px;
    margin: 10px auto;
    padding: 5px;
    position: relative;
}

.card-left {
    width: 100%;
    height: 150px;
    vertical-align: middle;
    display: inline-block;
    margin: 0px auto;
    float: left;
    text-align: center;
    position: relative;
}

.card-middle-content {
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    margin: 10px auto 0;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0 0 10px;
    position: relative;
}

.card-right {
    width: 70px;
    height: 70px;
    float: right;
    margin: 0 0 15px;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

.card-right img {
    height: 50px;
    width: auto;
    vertical-align: middle;
    margin: 0px auto 0px;
    text-align: center;
    display: block;
}

.card-left p {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 20px;
    margin: 0;
    font-size: 20px;
    border-radius: 0 0 5px 0;
}

.card-right p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 0px;
    display: block;
}

.card-left img {
    height: auto;
    width: 100%;
    padding: 0;
}

.card-left a {
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.card-middle-content h3 {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    width: 320px;
    white-space: nowrap;
    overflow: scroll;
    padding: 0;
    margin: 0;
}

.card-middle-content h2 {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin: 0;
}

#chooseTeam {
    background: #fff;
    color: #555;
    border: 0;
    border-radius: 2px;
    width: 98%;
    display: block;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 10px auto;
}

#grey-cover {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    bottom: 0;
    background: #ededed;
    z-index: 6;
}

.half-card {
    width: 47.3%;
    display: inline-block;
    background: #fff;
    text-align: center;
    margin: 1%;
    border-radius: 2px;
    padding: 20px 0;
}

.half-card h2 {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    margin: 5px auto 5px;
}

.half-card a {
    text-decoration: none;
}

.half-card img {
    width: 50%;
    margin: 10px auto;
}

.choose-team {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #ECECEC;
    overflow: scroll;
    padding: 70px 20px 20px;
}

a.team-choice {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    line-height: 45px;
    text-decoration: none;
    display: block;
    background: #fff;
    border-radius: 2px;
    border-top: 1px solid #ededed;
    margin: 0;
}

.team-choice img {
    margin: 10px;
    height: 25px;
    vertical-align: top;
}

.topdone img {
    height: 40px;
    margin: 10px auto;
    display: block;
}

.topdone {
    background: #6AC55F;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    display: none;
}

.my-chosen-teams {
    min-height: 90px;
}

.no-team-img {
    width: 70%;
    margin: auto;
    display: none;
}

#scrollUp {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    background: #333;
    color: #fff;
    display: none;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.schedule-block h3 {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #333;
    margin: 5px 0 0;
    padding: 20px 0;
    border-radius: 2px;
    width: 100%;
}

.fieldName {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: #333;
    margin: 10px 0 0;
    padding: 10px 0;
    text-indent: 10px;
    border-radius: 2px;
    width: 100%;
    border-bottom: 2px solid #69c55f;
}

.gameSort {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    background: white;
    margin: 0;
    border-radius: 0 0 2px 2px;
    padding: 15px 5%;
    width: 90%;
    position: relative;
}

.gameSort p {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
}

.twoChoice {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
}

.firstChoice {
    background: white;
    margin: 0 -2px 0 0;
    border-radius: 2px 0 0 2px;
}

.secondChoice {
    background: #69c55f;
    margin: 0 0 0 -2px;
    color: #fff;
    border-radius: 0 2px 2px 0;
}

.firstChoice,
.secondChoice {
    padding: 15px 0;
    border: 0;
    font-size: 16px;
    width: 45%;
    vertical-align: top;
}

.match-header {
    display: block;
    background: #333;
    padding;
    0;
    margin: -5px -5px 0 -5px;
    text-align: left;
}

.match-body {
    display: block;
    background: none;
    padding;
    0;
    margin: -5px -5px 0 -5px;
    text-align: left;
}

.first-match {
    display: block;
    width: 100%;
    margin: 0;
    color: #fff;
    padding: 20px 0;
}

.teamName {
    vertical-align: middle;
    width: 68%;
    margin: auto;
    display: inline-block;
}

.teamShow {
    width: 20%;
    vertical-align: middle;
    margin: auto;
    display: inline-block;
}

.teamShow img {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

.match-header h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.second-match {
    display: block;
    width: 100%;
    margin: 0;
    color: #fff;
    padding: 0 0 20px;
}

.third-match {
    display: block;
    width: 100%;
    margin: 2px 0;
    color: #333;
    background: #fff;
    padding: 20px 0;
    position: relative;
}

.third-match span,
.nextArrow {
    position: absolute;
    right: 0;
    top: 0;
}

.nextArrow img {
    height: 40px;
    margin: 35px 10px;
}

.third-match span img {
    height: 35px;
    margin: 32.5px 0;
}

.scores {
    position: absolute;
    right: 20px;
    top: 50%;
    height: 90px;
    margin-top: -30px;
}

.fieldMap img {
    width: 100%;
}